<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Planificación - GastuApp', ~{:: link})}">
    <link rel="stylesheet" th:href="@{/css/planificacion/presupuesto.css}">
</head>
<body>

    <!-- NAVBAR -->
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <!-- SIDEBAR -->
    <nav th:replace="~{fragments/sidebar :: sidebar(activePage='Presupeusto')}" 
         class="d-md-block bg-light sidebar collapse"></nav>

    <!-- MAIN: SOLO ESTE SCROLLEA GLOBAL -->
    <main class="px-md-4 py-4">
        <div class="container">
            <h1 class="text-dark mb-4">Mis presupuestos</h1>

            <!-- PRESUPUESTOS -->
            <div class="panel-box mb-4">

                <div class="section-header">

                    <div class="d-flex align-items-center gap-2 flex-wrap">
                        <div class="input-group search-bar">
                            <input id="buscarPresupuestos" type="search" class="form-control" placeholder="Buscar...">
                            <button id="limpiarBusquedaPres" class="btn btn-outline-secondary" type="button">
                                <i class="bi bi-x-lg"></i>
                            </button>
                        </div>

                        <button class="btn btn-primary" id="btnCrearPresupuesto">
                            <i class="bi bi-plus-lg me-1"></i> Nuevo presupuesto
                        </button>
                    </div>

                </div>

                <div class="scroll-area">
                    <div class="row g-3" id="cardsPresupuestos">
                        <!-- JS Insertar tarjetas -->
                    </div>
                </div>
            </div>

        </div>
    </main>

    <!-- MODALES -->
    <div th:replace="~{planificacion/presupuestos/crear :: crearModal}"></div>
    <div th:replace="~{planificacion/presupuestos/editar :: editarModal}"></div>
    <div th:replace="~{planificacion/modales/abrirConcepto :: abrirConceptoModal}"></div>

    <!-- SCRIPTS -->
    <div th:replace="~{fragments/head :: scripts}"></div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script th:src="@{/js/planificacion/presupuestos.js}"></script>

</body>
</html>
